## SPDX-FileCopyrightText: 2021-2024 Niels Moseley <asicsforthemasses@gmail.com>
##
## SPDX-License-Identifier: GPL-3.0-only

.vscode
AppDir
appimage-builder-cache
build
test/files/iitcells_lib*
test/files/iit_stdcells
test/files/nangate
test/files/sky130
test/files/ihp130
test/files/results
version/version.cpp
version/gitversion.cpp
version/compilerversion.cpp
version/compilerversion.cmake
noshare
attic
_packages
