# SPDX-FileCopyrightText: 2021-2022 Niels Moseley, <n.a.moseley@moseleyinstruments.com>, et al.
#
# SPDX-License-Identifier: CC0-1.0

.vscode
AppDir
appimage-builder-cache
build
test/files/iitcells_lib*
test/files/iit_stdcells
test/files/nangate
test/files/results
noshare
_packages
