SPDX-FileCopyrightText: 2021-2022 Niels Moseley, <n.a.moseley@moseleyinstruments.com>, et al.

SPDX-License-Identifier: GPL-3.0-only


[Desktop Entry]
Version=1.0
Type=Application
Name=LunaPnR
Comment=Luna Place and Route
TryExec=lunapnr
Exec=lunapnr
Icon=lunapnr
MimeType=image/x-foo;
Categories=Electronics;
