# SPDX-FileCopyrightText: 2021-2024 Niels Moseley <asicsforthemasses@gmail.com>
# SPDX-License-Identifier: GPL-3.0-only
#
# IHP130 PDK for LunaPnR

title = "IHP SG13G2 130nm"  # title/name the user sees.
name = "ihp_sg13g2"         # name used to reference the PDK internally.
version = "v0.1"            # version the user sees.
installdir = "ihp_sg13g2"   # installation dir, must be a relative path.
date = "06-09-2023"
copyright = "IHP Microelectronics"
description = "IHP 130nm BiCMOS cell library"
icon = "https://raw.githubusercontent.com/IHP-GmbH/IHP-Open-PDK/main/docs/images/ihp_logo.png"

# source locations for the LEF/DEF/Layer etc files.
url = [
    ["https://github.com/IHP-GmbH/IHP-Open-PDK/raw/main/ihp-sg13g2/libs.ref/sg13g2_stdcell/lib/sg13g2_stdcell_fast_1p32V_m40C.lib", "sg13g2_stdcell_fast_1p32V_m40C.lib"],
    ["https://github.com/IHP-GmbH/IHP-Open-PDK/raw/main/ihp-sg13g2/libs.ref/sg13g2_stdcell/lib/sg13g2_stdcell_fast_1p65V_m40C.lib", "sg13g2_stdcell_fast_1p65V_m40C.lib"],
    ["https://github.com/IHP-GmbH/IHP-Open-PDK/raw/main/ihp-sg13g2/libs.ref/sg13g2_stdcell/lib/sg13g2_stdcell_slow_1p08V_125C.lib", "sg13g2_stdcell_slow_1p08V_125C.lib"],
    ["https://github.com/IHP-GmbH/IHP-Open-PDK/raw/main/ihp-sg13g2/libs.ref/sg13g2_stdcell/lib/sg13g2_stdcell_slow_1p35V_125C.lib", "sg13g2_stdcell_slow_1p35V_125C.lib"],
    ["https://github.com/IHP-GmbH/IHP-Open-PDK/raw/main/ihp-sg13g2/libs.ref/sg13g2_stdcell/lib/sg13g2_stdcell_typ_1p20V_25C.lib", "sg13g2_stdcell_typ_1p20V_25C.lib"],
    ["https://github.com/IHP-GmbH/IHP-Open-PDK/raw/main/ihp-sg13g2/libs.ref/sg13g2_stdcell/lib/sg13g2_stdcell_typ_1p50V_25C.lib", "sg13g2_stdcell_typ_1p50V_25C.lib"],
    ["https://github.com/IHP-GmbH/IHP-Open-PDK/raw/main/ihp-sg13g2/libs.ref/sg13g2_stdcell/lef/sg13g2_stdcell.lef", "sg13g2_stdcell.lef"],
    ["https://github.com/IHP-GmbH/IHP-Open-PDK/raw/main/ihp-sg13g2/libs.ref/sg13g2_stdcell/lef/sg13g2_tech.lef", "sg13g2_tech.lef"]
]

# archive extraction instructions, if any.
# the second argument is the archive type
# "tgz", "zip", "bz2", "xz"
extract = []

# lef files, technology LEF *must* go first
lef = [
    "sg13g2_tech.lef", "sg13g2_stdcell.lef"
]

# liberty files
lib = [
    "sg13g2_stdcell_typ_1p20V_25C.lib"
]

# layer file for the colours and hatch patterns
layerfile = "sg12g2.layers"
